{% extends 'base.html' %}
{% block content %}

<h1>WHERE byte = '{{ product.name }}';</h1>

{% for price in prices %}
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ product.name }}</span>
        <p>{{ product.desc|linebreaks}}</p>
        <p>$ {{ price.price }}</p>
    </div>
    {% if user.is_authenticated %}
    <div class="card-action">
        <!-- Update form action -->
        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Add to Cart</button>
        </form>
        {% if message %}
            <p>{{message}}</p>
        {% endif %}
    </div>
    {% else %}
    <div class="card-action">
        <p>Sign up or log in to start your order.</p>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}