{% extends 'base.html' %}
{% block content %}

<h1>WHERE purchased = False;</h1>

{% for i in items %}
    <div class="card">
        <div class="card-content">
            <a href="{% url 'detail' i.byte_id %}">
                <span class="card-title">{{ i.byte.item }}</span>
            </a>
            <p>{{ i.byte.description }}</p>
            <p>Quantity: {{ i.quantity }}</p>
            <p>Price: {{ i.byte.price }}</p>
            <p>Subtotal: {{i.subtotal}}</p>
        </div>
    </div>
{% endfor %}
<div class="card">
    <div class="card-content">
        <h3>Total: ${{total.subtotal__sum}}</h3>
    </div>
</div>
{% endblock %}