{% extends 'base.html' %}
{% block content %}

<h1>WHERE purchased = False;</h1>

{% if items %}
<div>
    <table style="width:100%">
        <tr style="font-size: 20px;">
            <th>Byte</th>
            <th>Quantity</th>
            <th></th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
        {% for i in items %}
        <tr>
            <td><a href="{% url 'detail' i.byte_id %}">{{ i.byte.item }}</a></td>
            <td>{{i.quantity}}</td>
            <td>
                <form action="{% url 'item_update' i.id %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Update quantity" class="btn-checkout">
                </form>
                <br>
                <a href="{% url 'item_delete' i.id %}" class="delete">Delete Item</a>
            </td>
            <td>$ {{i.byte.price}}</td>
            <td>$ {{i.subtotal}}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="card">
    <div class="card-content">
        <h3>Total: ${{total.subtotal__sum}}</h3>
    </div>
</div>
<div class="card">
    <!-- How to handle "purchase"? -->
    <div class="card-content">
        <form action="{% url 'cart_checkout'  %}" method="POST">
            {% csrf_token %}
            <!-- {{ buy }} -->
            <button type="submit" class="btn-checkout">Checkout</button>
        </form>
    </div>
</div>
{% else %}
<p>Your cart is empty.</p>
{% endif %}
{% endblock %}