{% extends 'base.html' %}
{% block content %}

<h1>WHERE purchased = False;</h1>
<h3>(Your cart)</h3>

{% if items %}

    <div>
        <table style="width:100%">
            <tr style="font-size: 20px;">
                <th>Byte</th>
                <th>Quantity</th>
                <th></th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
            {% for i in items %}
            <tr>
                <td><a href="{% url 'detail' i.byte_id %}">{{ i.byte.item }}</a></td>
                <td>{{i.quantity}}</td>
                <td>
                    <form action="{% url 'item_update' i.id %}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Update quantity" class="btn">
                    </form>
                    <a href="{% url 'item_delete' i.id %}" class="btn">Delete from Cart</a>
                </td>
                <td>$ {{i.byte.price}}</td>
                <td>$ {{i.subtotal}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </table>
    </div>

<div class="card">
    <div class="card-content">
        <h3 class="total">Total: ${{total.subtotal__sum}}</h3>
    </div>
</div>
{% else %}
<p>Your cart is empty.</p>
{% endif %}

<h4 class="font-weight-bold my-3">Billing</h4>
    <!-- Display a payment form -->
    <form id="payment-form">
        <div id="payment-element">
          <!--Stripe.js injects the Payment Element-->
        </div>
        <button id="submit">
          <div class="spinner hidden" id="spinner"></div>
          <span id="button-text">Pay now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
      </form>
</div>


</div>


{% endblock %}