{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s6" id="logo">
        <img class="home-image" src="https://baked-bytes.s3.us-west-1.amazonaws.com/sprinkle_cupcake.png">
    </div>

    <div class="col s6">
        <h1>Baked Bytes: Delicious, nerdy treats.</h1>
    </div>
</div>
<hr>
<p>This is your invitation to splurge because virtual treats are calorie-free!</p>

<p>Baked Bytes is a virtual bakery serving up your 8-bit, pixelated treats. Click on any item to view its details and create an account to add a treat to your cart. When you're ready, checkout then view your order history.</p>

{% endblock %}