{% extends 'base.html' %}
{% block content %}

<h1>WHERE order_id = {{order.id}};</h1>
<br>
<p>Purchased on {{order.order_date}}</p>
<hr>
{% for item in items %}
    <div class="card">
        <div class="card-content">
            <a href="{% url 'detail' item.byte_id %}">
                <span class="card-title">{{ item.byte.item }}</span>
            </a>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Price: ${{ item.byte.price }}</p>
            <p>Subtotal: ${{item.subtotal}}</p>
        </div>
    </div>
{% endfor %}

<div class="card">
    <div class="card-content">
        <p class="card-title">Total: {{ total.subtotal__sum }}</p>
    </div>
</div>

{% endblock %}